@media(max-width: 1580px) {
    #book:before {
        background-position: 155% 0;
    }

    #book_elem_3 {
        right: 0;
    }

    #book_elem_4 {
        right: 0;
    }
}

@media(max-width: 1200px) {
    .front_video_img {
        height: 274px;
    }

    .main_video_flex {
        align-items: center;
    }

    #front_words {
        min-height: 450px;
    }

    #front_words:before {
        height: 160%;
    }

    .front_words_wrap .col-lg-6 {
        z-index: 1;
    }

    #contacts_section:before {
        background-size: 50%;
    }

    #book:before {
        display: none;
    }

    .book_elem {
        background: #FFFFFF;
        min-height: auto;
    }

    #book_elem_1,
    #book_elem_2,
    #book_elem_3,
    #book_elem_4 {
        position: relative;
        left: 0;
        top: 0;
        width: 25%;
    }

    .tale_text {
        padding: 20px;
    }

    .tale_item h4 {
        font-size: 24px;
    }

    .owl-carousel-teacher .item {
        padding: 20px;
    }

    .blog #content,
    .post-type-archive-event #content,
    .single-post #content,
    .category #content {
        padding-top: 220px;
    }
}

@media(max-width: 992px) {
    #site-nav {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        top: -100%;
        left: 0;
        padding: 15px 20px;
        z-index: 2000;
        background: rgba(0, 0, 0, 0.8);
        transition: all 0.7s ease 0s;
        overflow-y: scroll;
    }

    .hamburger-2 {
        top: 60px;
        opacity: 0;
    }

    #site-nav.open {
        top: 0;
    }

    #primary-menu {
        padding: 60px 0 0 0;
        font-size: 20px;
    }

    #primary-menu li {
        padding: 10px 0;
    }

    #primary-menu li.menu-item-has-children {
        padding: 0;
        text-align: center;
    }

    #primary-menu li .sub-menu li a {
        color: #FFFFFF;
        opacity: 1;
        display: block;
        padding: 10px 10px;
        font-style: italic;
    }

    #primary-menu li a {
        color: #FFFFFF;
        opacity: 1;
        text-decoration: none;
    }

    .sub-menu {
        display: block;
        list-style: none;
        position: relative;
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
        left: 0;
        min-width: auto;
        padding: 0;
        top: 0;
    }

    .menu-item-has-children:after {
        top: 10px;
    }

    #primary-menu li .sub-menu li a:hover {
        background: transparent;
    }

    .intro_item {
        padding: 15px;
    }

    .front_video_img {
        height: 201px;
    }

    .flex-clgr {
        flex-direction: column-reverse;
    }

    #front_words:before,
    #front_words:after {
        display: none;
    }

    .reviews_item.reviews_item_text .reviews_item_wrap {
        flex-direction: column;
    }

    .reviews_item_text img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        margin: 0;
    }

    .reviews_item_video .play {
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        background: #FFFFFF;
        border-radius: 100%;
        line-height: 50px;
    }

    .page-template-start-page .intro_bg,
    .page-template-progress-page .intro_bg,
    .page-template-individual-page .intro_bg {
        background: none;
    }

    .start_list_item {
        padding: 15px;
    }

    .start_list_item p {
        line-height: normal;
    }

    #book_elem_1,
    #book_elem_2,
    #book_elem_3,
    #book_elem_4 {
        width: 50%;
    }

    .tale_item {
        width: 100%;
    }

    .owl-carousel-teacher .item {
        padding: 35px;
    }

    .process_text {
        padding: 15px;
    }

}

@media (max-width: 768px) {
    header {
        position: relative;
        background: #3aa4fb;
    }

    #intro {
        padding: 10px 0 65px 0;
    }

    .intro_bg h1 {
        margin-top: 36px;
        font-size: 32px;
    }

    .intro_item {
        padding: 25px;
    }

    .intro_bg {
        background: none;
    }

    .front_video_img {
        height: 312px;
    }

    .main_video_wrap:before {
        top: -134px;
    }

    .video_list .btn {
        margin: 0;
    }

    .front_wel_item_wrap {
        width: 100% !important;
    }

    .front_instagram_wrap {
        background: #FFFFFF;
    }

    .front_instagram_wrap:before,
    .front_instagram_wrap:after {
        display: none;
    }

    .front_instagram_phone {
        margin-left: -129px;
    }

    #contacts_section:before {
        display: none;
    }

    .footer_menu li {
        width: 100%;
        padding-right: 0;
        margin-bottom: 10px;
    }

    .footer_menu li a {
        font-size: 18px;
    }

    .footer_item {
        width: 100%;
    }

    footer .contacts_link {
        font-size: 40px;
    }

    .page-template-start-page .intro_bg,
    .page-template-progress-page .intro_bg,
    .page-template-individual-page .intro_bg {
        padding: 0 15px;
    }

    #form {
        padding: 20px 10px;
    }

    #book_elem_1,
    #book_elem_2,
    #book_elem_3,
    #book_elem_4 {
        width: 100%;
    }

    .book_elem {
        text-align: center;
    }

    .book_elem .number {
        position: relative;
        margin: 0 auto 15px;
        top: 0;
        left: 0;
    }

    #tale:before {
        display: none;
    }

    .owl-carousel-teacher .owl-nav button.owl-prev,
    .owl-carousel-teacher .owl-nav button.owl-next {
        display: none;
    }

    .process_img .number1,
    .process_img .number2 {
        top: -70px;
        right: 0;
        left: 50%;
        margin-left: -45px;
    }

    .process_text {
        padding: 15px 0;
    }

    #process h3 {
        margin-bottom: 70px;
    }

    #result {
        background: #27A4FF;
    }

    .blog #content,
    .single-post #content,
    .post-type-archive-event #content,
    .category #content {
        padding-top: 40px;
    }

    .blog-category-menu {
        height: auto;
        padding: 25px 40px;
        border-radius: 30px;
        flex-direction: column;
    }

    .blog-category-menu li {
        margin-right: 0px;
        margin-bottom: 15px;
    }

    .page-numbers {
        margin-right: 5px;
    }
}

@media (max-width: 480px) {
    .front_video_img {
        height: 176px;
        width: 290px;
        margin: 0 auto;
    }

    .main_video_wrap:before {
        display: none;
    }

    .video_list ul li span {
        width: 40px;
    }

    .front_more_item_content {
        padding: 15px;
    }

    .front_more_item_content blockquote {
        font-weight: 600;
    }

    #thoughts {
        background-image: none;
    }
}