@font-face{
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.eot');
    src: url('../fonts/CeraPro-Light.eot?iefix') format('eot'),
    url('../fonts/CeraPro-Light.woff') format('woff'),
    url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Cera Pro light';
    src: url('../fonts/CeraPro-Thin.eot');
    src: url('../fonts/CeraPro-Thin.eot?iefix') format('eot'),
    url('../fonts/CeraPro-Thin.woff') format('woff'),
    url('../fonts/CeraPro-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot?iefix') format('eot'),
    url('../fonts/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

a, .hover_amime {
    transition: all 0.3s 0.1s ease;
}

.cursor-pointer {
    cursor: pointer;
}

.font-weight-bold {
    font-family: 'Cera Pro Medium';
}

.color {
    color: #FFE600;
}

.color-white{
    color: #FFFFFF;
}

.arrow-down, .arrow-up {
    position: relative;
}

.arrow-down:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #000000;
    top: 50%;
    right: 0;
    margin-top: -2px;
}

.arrow-up:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #000000;
    top: 50%;
    right: 0;
    margin-top: -4px;
}

@media (min-width: 1200px) {
    .container.container-big {
        max-width: 1200px;
    }
}

.top_header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.select_city_title {
    font-size: 12px;
    line-height: 15px;
}

.select_city_move {
    display: inline-block;
    border-bottom: 2px dashed #FFE600;
    font-size: 14px;
    line-height: 18px;
    padding: 0 15px 4px 0;
}

.select_city_move:hover {
    opacity: 0.7;
}

.select_city_move.arrow-down:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #FFE600;
    margin-top: -3px;
}

.select_city_move.arrow-up:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid #FFE600;
    margin-top: -3px;
}

.select_city_map_header {
    line-height: 20px;
}

.select_city_map_header-text {
    font-size: 12px;
}

.select_city_map_header-text p {
    margin-bottom: 0;
}

.select_city_map_header-link {
    border-bottom: 1px dashed #FFE600;
}

.select_city_map_header-link:hover {
    opacity: .8;
}

.btn_header_phone {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    height: 40px;
    padding: 0 20px;
    background: #FFFFFF;    
}

.btn_header_phone:hover {
    border: 2px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
}

#intro {
    background: url(../img/main_bg.png)no-repeat center top;
    height: 900px;
    background-size: contain;
}