@font-face{
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.eot');
    src: url('../fonts/CeraPro-Light.eot?iefix') format('eot'),
    url('../fonts/CeraPro-Light.woff') format('woff'),
    url('../fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Cera Pro light';
    src: url('../fonts/CeraPro-Thin.eot');
    src: url('../fonts/CeraPro-Thin.eot?iefix') format('eot'),
    url('../fonts/CeraPro-Thin.woff') format('woff'),
    url('../fonts/CeraPro-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot');
    src: url('../fonts/CeraPro-Medium.eot?iefix') format('eot'),
    url('../fonts/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.h1, h1 {
    font-size: 40px;
    font-family: 'Cera Pro Medium';
}

.h2, h2 {
    font-size: 36px;
    font-family: 'Cera Pro Medium';
}

.h3, h3 {
    font-size: 28px;
    font-family: 'Cera Pro Medium';
    font-weight: 600;
}

.h4, h4 {
    font-size: 26px;
    font-family: 'Cera Pro Medium';
}

body {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}

body.no-scroll {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
 }

a, .hover_amime {
    transition: all 0.3s 0.1s ease;
}

.cursor-pointer {
    cursor: pointer;
}

.font-weight-bold {
    font-family: 'Cera Pro Medium';
}

.color-white{
    color: #FFFFFF;
}

.color-blue {
    color: #27A4FF;
}

.color {
    color: #FFE600;
}

.gray_bg {
    background-color: #EFEFEF;
}

.white_bg {
    background-color: #FFFFFF;
}

.btn-primary.btn-yellow, .btn-primary.btn-yellow:active:focus {
    min-height: 40px;
    border-radius: 40px;
    background: #FFE600;
    color: #000;
    font-weight: 600;
    border: 2px solid #FFE600;
}

.btn-yellow:hover {
    background: rgba(255, 230, 0, 0.11);
    border: 2px solid #FFE600;
    color: #000000;
}

.btn-primary.btn-blue, .btn-primary.btn-blue:active:focus {
    min-height: 50px;
    border-radius: 50px;
    background: #3aa4fb;
    color: #000;
    font-weight: 600;
    border: 2px solid #3aa4fb;
    color: #FFFFFF;
    padding: 6px 25px;
}

.btn-primary.btn-blue:hover {
    border: 2px solid #3aa4fb;
    color: #3aa4fb;
    background: transparent;
}

.arrow-down, .arrow-up {
    position: relative;
}

.arrow-down:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #000000;
    top: 50%;
    right: 0;
    margin-top: -2px;
}

.arrow-up:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #000000;
    top: 50%;
    right: 0;
    margin-top: -4px;
}

@media (min-width: 1200px) {
    .container.container-big {
        max-width: 1280px;
    }
}

header {
    position: fixed;
    transition: all 0.4s ease 0s;
    z-index: 1;
}

header.slideup {
    background: #3aa4fb;
    box-shadow: 0px 2px 14px 3px rgba(0, 0, 0, 0.27);
    z-index: 10;
}

.top_header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.select_city_title {
    font-size: 12px;
    line-height: 15px;
}

.select_city_move {
    display: inline-block;
    border-bottom: 2px dashed #FFE600;
    font-size: 14px;
    line-height: 18px;
    padding: 0 15px 0 0;
}

.select_city_move:hover {
    opacity: 0.7;
}

.select_city_move.arrow-down:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #FFE600;
    margin-top: -3px;
}

.select_city_move.arrow-up:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 5px solid #FFE600;
    margin-top: -3px;
}

.select_city_map_header {
    line-height: 20px;
}

.select_city_map_header-text {
    font-size: 12px;
}

.select_city_map_header-text p {
    margin-bottom: 0;
}

.select_city_map_header-link {
    border-bottom: 1px dashed #FFE600;
}

.select_city_map_header-link:hover {
    opacity: .8;
}

.btn_header_phone {
    font-size: 14px;
    border-radius: 20px;
    border: 2px solid #FFFFFF;
    height: 40px;
    padding: 0 20px;
    background: #FFFFFF;    
}

.btn_header_phone:hover {
    border: 2px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
}

.header_phone_number {
    font-size: 20px;
}

.logo:hover {
    opacity: .7;
}

#primary-menu li a {
    color: #FFFFFF;
    opacity: .6;
}

#primary-menu li a:hover {
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}

#primary-menu li.current-menu-item a {
    color: #FFE600;
    opacity: 1;
    text-decoration: none;
    font-family: 'Cera Pro Medium';
}
.sub-menu {
    display: none;
    list-style: none;
    position: absolute;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22);
    margin: 0;
    left: 0;
    min-width: 220px;
    padding: 0;
    top: 35px;
}

#primary-menu li .sub-menu li {
    border-radius: 6px;
}

#primary-menu li .sub-menu li a {
    color: #000000;
    opacity: 1;
    display: block;
    padding: 10px 15px;
}

#primary-menu li .sub-menu li a:hover {
    background: rgba(255, 234, 44, 0.35);
}

.menu-item-has-children {
    position: relative;
}

.menu-item-has-children a {
    padding-bottom: 20px;
}

.menu-item-has-children:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    transition: all 0.3s 0.1s ease;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #FFFFFF;
    margin-top: -1px;
    opacity: .6;
    top: 50%;
    right: -15px;
}

.menu-item-has-children:hover .sub-menu, .sub-menu:hover {
    display: block;
}

.menu-item-has-children:hover:after {
    opacity: 1;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background: #FFFFFF;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
    background-color: #FFFFFF;
}

#site-nav {
    display: block;
}

#intro {
    background: url(../img/main_bg.png)no-repeat center top;
    min-height: 900px;
    background-size: cover;
    padding: 140px 0 150px 0;
    position: relative;
}

#intro:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, rgba(39, 164, 255, 0) 34.38%, #27A4FF 100%);
}

.intro_bg {
    background: url(../img/intro.png)no-repeat top right;
}

.intro_bg h1 {
    margin-top: 100px;
}

.intro_item {
    background: #FFFFFF;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.27);
    border-radius: 14px;
    padding: 35px;
}

.intro_item_content p {
    min-height: 88px;
}

.intro_item_btn {
    min-height: 40px;
    border-radius: 40px;
    background: #F3F3F3;
    border: 1px solid #F3F3F3;
    color: #000000;
    padding: .375rem 20px;
    font-weight: 700;
}

.intro_item_btn:hover {
    border: 1px solid #FFE600;
    background: #FFE600;
    color: #000000;
}

.form {
    background: #FFFFFF;
    padding: 70px 0;
}

.form input[type="text"] {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.11);
    border-radius: 8px;
    width: 100%;
    min-height: 40px;
    text-align: center;
}

#main_video {
    background: #27A4FF;
}

.main_video_wrap {
    padding: 70px 0;
}

.main_video_wrap:before {
    content: '';
    position: absolute;
    background: url(../img/front_video.png)no-repeat center left;
    height: 100%;
    width: 100%;
    top: 0;
    left: -50px;
}

.front_video_img {
    background: url(../img/front_video_img.png)no-repeat top left;
    width: 100%;
    height: 330px;
    background-size: contain;
    border-radius: 15px;
}

.front_video_img:hover {
    box-shadow: inset 0px 0px 40px 20px rgba(0, 0, 0, 0.39);
}

.front_video_img:hover .front_video_play {
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.22);
}

.front_video_play {
    display: block;
    text-align: center;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    background: rgba(255, 255, 255, 0.25);
}

.front_video_play_wrap {
    width: 86px;
    height: 86px;
    display: block;
    border-radius: 86px;
    background: #FFFFFF;
    margin: 16px auto;
    text-align: center;
    line-height: 86px;
}

.front_video_play_wrap img {
    margin-left: 8px;
}

.main_video_flex {
    align-items: unset;
}

.video_list h3 {
    padding-left: 43px;
}

.video_list ul li {
    line-height: 31px;
}

.video_list ul li .icon {
    background: url('../img/cor.svg')no-repeat left center;
    height: 31px;
    width: 31px;
    display: block;
    margin-right: 25px;
}

.video_list a {
    margin-left: 43px;
}

#front_more {
    padding: 70px 0 0 0;
}

.front_more_item {
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.04);
    margin-bottom: 20px;
    z-index: 3;
    position: relative;
}

.front_more_item:last-child {
    margin-bottom: 0;
}

.front_more_item_content {
    padding: 55px;
}

.front_more_item_content h4 {
    font-weight: 600;
}

.front_more_item_content .icon {
    background: url(../img/cor_blue.svg)no-repeat left 7px;
    width: 31px;
    margin-right: 20px;
    float: left;
}

.front_more_item_content blockquote {
    border-left: 4px solid #FFE600;
    padding-left: 42px;
    font-weight: 600;
}

#front_words {
    background: url(../img/main_bg.png)no-repeat center top;
    min-height: 500px;
    background-size: cover;
    position: relative;
    margin-top: -60px;
    z-index: 1;
    padding: 105px 0 0 0;
}

#front_words:before{
    content: '';
    background: url(../img/yellow_w_bg.svg)no-repeat left top;
    position: absolute;
    top: -236px;
    height: 140%;
    width: 100%;
}

#front_words:after {
    content: '';
    background: url(../img/blue_w_bg.svg)no-repeat right top;
    height: 100%;
    width: 181px;
    position: absolute;
    top: 0;
    right: 0;
}

#front_welcome {
    padding: 70px 0;
}

.container.custom_container {
    padding-right: 10px;
    padding-left: 10px;
}

.row.custom_row {
    margin-right: -10px;
    margin-left: -10px;
}

.front_wel_item_wrap {
    padding: 10px;
    height: 280px;
    position: relative;
    width: 100%;
}

.front_wel_item {
    background: #ccc;
    border-radius: 10px;
    height: 100%;
}

#reviews {
    padding: 70px 0;
}

.reviews_item {
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 30px;
}

.reviews_item.reviews_item_text {
    padding: 25px;
}

.reviews_item_wrap {
    display: flex;
}

.reviews_item_text img {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    margin-right: 25px;
}

.reviews_item_text .title {
    font-family: 'Cera Pro Medium';
    font-size: 18px;
    font-weight: 600;
}

.reviews_item_text .subtitle {
    color: #A9A9A9;
}

.reviews_item_text p {
    line-height: 20px;
}

.reviews_item_video a {
    border-radius: 10px;
}

.reviews_item_video .play {
    width: 86px;
    height: 86px;
    top: 50%;
    left: 50%;
    margin: -43px 0 0 -43px;
    background: #FFFFFF;
    border-radius: 100%;
    line-height: 86px;
}

.reviews_item_video .play img {
    margin-left: 6px;
}

.reviews_item_video .title {
    bottom: 25px;
    right: 25px;
}

.reviews_item_video .title_1 {
    font-size: 18px;
    font-weight: 600;
}

.reviews_item_video .title_2 {
    font-size: 14px;
    opacity: 0.7;
}

.reviews_item_video a:hover {
    color: #FFFFFF;
    text-decoration: none;
    opacity: 0.8;
}

.reviews_item.review_hide {
    display: none;
}

#docs {
    padding: 70px 0 45px 0;
}

#docs .title {
    color: #7d7d7d;
}

#front_instagram {
    padding: 70px 0;
}

.front_instagram_wrap {
    height: 270px;
    width: 100%;
    background: url(../img/front_instagram_bg.png)no-repeat center top;
    margin: 160px 0 180px 0;
}

.front_instagram_wrap:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.front_instagram_wrap:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.front_instagram_wrap .btn-yellow{
    width: 80%;
    margin-left: 21px;
}

.front_instagram_phone {
    left: 50%;
    top: -103px;
}

#contacts_section  {
    padding: 70px 0;
    background: url(../img/map_bg.jpg)no-repeat center top;
    background-size: cover;
    min-height: 800px;
}

#map {
    height: 370px;
    width: 100%;
    border-radius: 13px ;
}